body {
  font-family: "Montserrat", sans-serif;
}
.container {
  margin: 0 auto;
  width: 1160px;
}
.accent-color {
  color: #18cfab;
}

/* =========== HEADER ================ */
.page__header {
  background: url(../img/sections-background/section-1.jpg) center/cover
    no-repeat fixed;
  text-align: center;
}
.header-navigation {
  height: 120px;
  background: rgba(94, 93, 88, 0.6);
  position: fixed;
  width: 100%;
  z-index: 1;
  padding-top: 25px;
}
.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo-h {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60px;
  height: 65px;
  background-color: #18cfab;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
}
.header-logo-text {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}
.header-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.header-nav-list {
  display: flex;
  list-style: none;
  margin-left: 300px;
}

.header-nav-link {
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-right: 21px;
  color: rgba(255, 255, 255, 0.6);
}

.header-nav-link:hover {
  color: #18cfab;
}
.header-nav-list li a:hover {
  padding-bottom: 51px;
  border-bottom: 2px solid #18cfab;
}
.header-second-title {
  font-size: 35px;
  line-height: 35px;

  color: #ffffff;
  text-transform: uppercase;
  padding-top: 380px;
  margin: 0;
}
.header-title {
  font-size: 78px;
  line-height: 78px;

  text-transform: uppercase;
  margin-top: 22px;
  color: #ffffff;
}
.header-text {
  font-weight: 400;
  font-size: 34px;
  line-height: 1px;
  color: #d4d4d4;

  margin-top: 22px;
  margin-bottom: 135px;
}

.header-but-one {
  margin-right: 28px;
  border-radius: 5px;
  padding: 26px 32px 26px 32px;
  box-shadow: inset 0 5px #ffffff;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #18cfab;
}
.header-but-two {
  border-radius: 5px;
  padding: 26px 32px 26px 32px;
  box-shadow: inset 0 5px #ffffff;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #18cfab;
  margin-bottom: 245px;
}
.header-but-one:hover {
  background: #00cbf6;
}
.header-but-two:hover {
  background: #00cbf6;
}

/* ===========================MAIN===================== */
/* ===========================FOUR-OPTION============= */
.four-option {
  text-align: center;
}
.option-list {
  display: flex;

  text-align: center;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
}
.option-item-one {
  width: 100%;
  padding: 95px 0 95px;
  text-transform: uppercase;
  background: #1c2a33;
}
.option-item-two {
  width: 100%;
  padding: 115px 0 95px;
  text-transform: uppercase;
  background: #18cfab;
}
.option-img {
  display: inline;
  /* padding-top: 100px; */
}
.option-text-one {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  align-items: flex-end;
  text-transform: uppercase;
  color: #18cfab;
}
.option-text-two {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-items: flex-end;
  text-transform: uppercase;
  color: #ffffff;
}
/* =====================SERVICES============= */
.service-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  text-align: center;
  color: #4e4e4e;
  margin-top: 0;
  position: relative;
  padding-top: 85px;
}
.service-title:before,
.service-title:after {
  content: "";
  width: 76px;
  height: 1px;
  background-color: #18cfab;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}
.service-title:after {
  transform: translateX(-20%);
  bottom: -25px;
}

.services-tab {
  margin-top: 65px;
}
.services-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 70px;
}

.service-item {
  height: 75px;
  width: 195px;
  text-align: center;
  padding: 25px 0;
  background: #f8fcfe;
  border: 1px solid #edefef;
  color: #717171;
  cursor: pointer;
}
.service-item:hover {
  border: 1px solid #18cfab;
}

.service-item-secont {
  display: none;
}
.service-item-img {
  margin-right: 15px;
}

.services-list-img-text {
  padding-left: 0;
  list-style: none;
  margin-top: 25px;
}
.service-text {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}

.active {
  position: relative;
  background-color: #18cfab;
  color: #ffffff;
}
.active::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 55px;
  left: 45%;
  background-color: #18cfab;
  transform: rotate(45deg);
}
.show {
  display: flex;
}

/* ==================PURCHASE==============*/
.purchase {
  background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)),
    url(../img/sections-background/section-2.jpg) center/cover no-repeat fixed;
  text-align: center;
  height: 475px;
}
.purchase-title {
  padding-top: 125px;
  margin-top: 100px;

  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18cfab;
}
.purchase-text {
  margin-top: 15px;
  color: #d8d8d8;
  margin-bottom: 65px;
}
/* =====================WORK=============== */
.work {
  background-color: #e9edef;
  text-align: center;
}

.work-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.work-item {
  padding: 15px 20px;
  text-transform: capitalize;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #dadada;
  font-size: 14px;
  color: #717171;
}
.work-item:hover {
  border: 1px solid #18cfab;
}
.work-item-active {
  border: 1px solid #18cfab;
  color: #18cfab;
}
.work-list-grid {
  margin-top: 70px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  padding-left: 0;
}
.work-hover {
  height: 211px;
  width: 285px;
  border-top: 2px solid #18cfab;
  text-align: center;
  display: none;
  position: absolute;
  top: 0;
  background-color: #fff;
}
.work-item-grid:hover .work-hover {
  display: block;
}
.svg {
  display: inline;
  margin-top: 45px;
}
.work-hover-link {
}
.work-hover-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #18cfab;
}
.work-hover-text2 {
  color: #8a8a8a;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
}
.work-item-grid {
  list-style: none;
  position: relative;
}
.load {
  width: 168px;
  height: 63px;
  display: inline;
  background-color: #18cfab;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-bottom: 100px;
}
/* .load::before {
  content: "\f067";
} */

.hide {
  display: none;
}
/* ======================Breaking News================ */

.breakingNews-list {
  list-style: none;
  padding-left: 0;

  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}

.breakingNews-item {
  position: relative;
  border: 1px solid #f2f4f5;
  background: #f8fcfe;
  margin-bottom: 50px;
  cursor: pointer;
}
.breakingNews-date {
  margin: 10px;
  color: #ffffff;
}
.breakingNews-date-moun {
  color: #ffffff;
  margin-top: 0;
}
.breakingNews-post-date {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 68px;
  background: #203e38;
  text-align: center;
}
.breakingNews-blog-text {
  margin-left: 10px;
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  color: #717171;
}
.breakingNews-comm {
  padding-left: 10px;
  color: #777777;
  font-weight: 300;
  font-size: 14px;
}
.breakingNews-item:hover .breakingNews-post-date {
  background-color: #18cfab;
}
.breakingNews-item:hover .breakingNews-blog-text {
  color: #18cfab;
}
/* =========================client-feedback================== */
.client-feedback {
  background: url(../img/sections-background/section-3.jpg) center/cover
    no-repeat fixed;
  text-align: center;
}
.client-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  padding-top: 100px;
}
.combinedshape {
  display: inline;
  margin-top: 70px;
}
.client-text {
  color: #bbbbbb;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  margin-top: 35px;
}

.client-list {
  list-style: none;
  margin-top: 40px;
}
.client-item {
  display: none;
}
.client-show {
  display: block;
}
.client-name {
  color: #18cfab;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  text-transform: uppercase;
}

.client-prof {
  color: #bbbbbb;
  font-size: 13px;
}
.client-img {
  display: inline;
  box-shadow: 0px 0px 0px 9px rgb(3 218 164 / 25%);
  border-radius: 50%;
  margin-top: 50px;
}
.client-next {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  padding-bottom: 100px;
}
.client-next-photo {
  box-shadow: 0px 0px 0px 5px rgb(1 218 164 / 25%);
  border-radius: 50%;
}
.client-btn-left {
  width: 31px;
  height: 31px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #bbbbbb;
  color: #bbbbbb;
  margin-right: 25px;
  cursor: pointer;
}
.client-btn-left:hover {
  background: #18cfab;
}

.client-list-img {
  padding-left: 0;
  list-style: none;
  display: flex;
}
.client-next-item {
  margin-right: 25px;
  cursor: pointer;
}

.client-btn-right {
  width: 31px;
  height: 31px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #bbbbbb;
  color: #bbbbbb;
  cursor: pointer;
}
.client-btn-right:hover {
  background: #18cfab;
}
.text-test {
  position: relative;
  bottom: 12px;
}
/* =============FOOTER================ */
.page_footer {
  height: 121px;
  background: #22353f;
}
.footer-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;

  text-align: center;
  padding: 45px 0;

  color: #aeaeae;
  font-family: "Montserrat";
}
